.alert{
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.alert-success {
    background: #d1e7dc;
    color: #0f5132;
    padding: 1em;
}
.alert-danger {
    background: #f8d6da;
    color: #842029;
}
.error {
    color: #842029;
}
main {
    text-align: left;
}
ul{
    list-style: none;
}
dt {
    font-weight: bold;
    color: #354;
    font-size: 18px;
}
table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    align-items: center;
    text-indent: initial;
    border-spacing: 2px;
}
th, td {
    padding: 8px 16px;
    border: 1px solid #ddd;
    display: table-cell;
    vertical-align: inherit;
}
th {
    background: #eee;
    font-weight: bold;
}
/* .pagination {
    background: white;
    cursor: default;
    height: 22px;
      float: left;
      inline-size: auto;
      margin-right: 1px;
    } */
